
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Snapshots (все виды)
tests/**-snapshots/
*.snap.png
*.snap.json

# Misc
.vscode/
.DS_Store
certificates